.App {
  text-align: center;
  min-height: 100vh;
}

.container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.source-code {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  line-height: 5rem;
}

a.source-code {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

a:hover.source-code {
  font-weight: bold;
  text-decoration: none;
  color: #f9b80a;
}